.jumbotron {
    color: rgb(39, 42, 83);
}

.bg-dark {
    background-color: #343a40!important;
}

.img-thumbnail {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}